body{
    margin: 0;
    padding: 0;
    background-image: url(./loginscreen.jpg);
    background-size: cover;
    font-family: Helvetica;
}
h1{
    float: left;
    font-size: 50px;
    border-bottom: 8px solid white;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 25%;
    margin-left: 30px;
}
.dangnhap{
    width:300px;
    position: absolute;
    top:50%;
    left:50%;
    color:white;
}
.box{
    width: 20%;
    border-bottom: 1px solid whitesmoke;
    font-size: 25px;
    padding:8px 30px;
    margin:8px 30px;
}
/* .box input{
    background:none;
    outline: none;
    color: white;
    width: 80px;
    margin: 0px 120px; 
    float: left;
}
 .button{
    width: 20%;
    background: none;
    border: 2px solid white;
    color:whitesmoke;
} */
