button{
    border: 2px teal;
    border-radius: 25px;
    margin: 10px 75px;
    box-align: center;
    font-size: 25pt;
    color: white;
    background: none; 
    transition: 0.8s;
    border bottom: grey;
}
.container2{
    /* position: relative;
  text-align: center;
  color: white; */
  margin-left: 80px;
}


button:hover {
    background-color: #83203c;
    overflow: auto;
}
h1{
    font-style: italic;
    font-size: 30pt;
    text-align: center;
    border: 2px dashed black;
}
body{
    background: #000000;
    color: white;
}
.left{
    float: left;
    position: relative;
   /* display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 20px;
  margin-left: 10px; */
}